body {
  margin: 0;
}

.modal_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.modal_container .modal_background {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
}

.modal_background .modal_back {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  background-color: #262626;
  opacity: 0.98;
}

.modal_container #modal_close {
  width: 20px;
  display: flex;
  position: fixed;
  top: 80px;
  right: 30px;
  z-index: 999;
}

.modal_container .modal_wrap {
  width: 45%;
  height: 70%;
  background: #fff;
  margin: 10% auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
  position: fixed;
  top: -30px;
}
.modal_wrap .modal_wrap_header {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  border-bottom: 1px solid #c7c7c7;
  overflow: hidden;
  z-index: 2;
  background-color: #fff;
  border-radius: 10px;
}

.modal_wrap_header p {
  font-size: 16px;
  font-weight: 600;
  margin: auto 0;
  margin-left: 30px;
}

.modal_wrap_header span {
  width: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 12px;
  display: flex;
}

.modal_wrap_header #modal_upload {
  margin-right: 10px;
}

.modal_wrap .modal_wrap_content_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_wrap_content_wrap img {
  width: 90px;
}

.modal_wrap_content_wrap h2 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 300;
}

.modal_wrap_write_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.modal_wrap_show_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.modal_wrap_show_wrap .modal_wrap_write_content_left {
  width: 70%;
  height: 100%;
  display: flex;
}

.modal_wrap_show_wrap .modal_wrap_write_content_right {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #c7c7c7;
  position: relative;
}

.feed_comment {
  display: flex;
  flex-direction: column;
}

.feed_comment .comment_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment_user div {
  display: flex;
  margin-left: 18px;
  font-size: 12px;
  align-items: center;
  margin-bottom: 15px;
}

.comment_user div img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment_user div span {
  font-weight: 600;
  margin-right: 8px;
}

.comment_user a {
  font-size: 12px;
  position: relative;
  top: -8px;
  right: 15px;
}

.modal_wrap_show_wrap .write_header {
  position: relative;
  top: -35px;
  font-size: 12px;
}

.modal_wrap_show_wrap .write_header img {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
}

.write_header span {
  font-size: 12px;
  font-weight: 500;
}

.comment_user #comment_like {
  width: 15px;
  margin-right: 15px;
  padding-bottom: 10px;
}

.modal_wrap_show_wrap .write_comment {
  display: flex;
  position: absolute;
  bottom: 0;
}

.write_comment input {
  width: 280px;
  height: 50px;
  font-size: 16px;
  border: none;
  border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
}

.write_comment input::placeholder {
  padding-left: 10px;
  font-size: 14px;
}

.write_comment a {
  position: absolute;
  font-size: 16px;
  top: 14px;
  right: 10px;
  color: #8e44ad;
}

.comment_info {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 60px;
  padding: 0 15px;
  padding-top: 10px;
  border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
}

.comment_icon {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.comment_icon img {
  width: 25px;
}

.comment_info p {
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
}

.modal_wrap_write_content_right hr {
  position: relative;
  top: -35px;
  border-color: #ffffff;
  opacity: 0.3;
}

.modal_wrap_write_wrap .modal_wrap_write_content_left {
  width: 576px;
  height: 100%;
  display: flex;
}

.modal_wrap_write_wrap .modal_wrap_write_content_right {
  width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #c7c7c7;
  border-top: 1px solid #c7c7c7;
  border-radius: 5px;
}

.modal_wrap_write_content_right .write_header {
  width: 100%;
  height: 30px;
  display: flex;
  margin: 60px 0 15px 15px;
  align-items: center;
}

.write_header img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.write_header p {
  font-weight: 600;
}

.modal_wrap_write_content_right textarea {
  width: 350px;
  height: 100%;
  border: 0;
  margin: 10px 0 15px 15px;
  font-size: 18px;
  resize: none;
}

.modal_wrap_write_content_right textarea:focus {
  outline: none;
}
