body {
  margin: 0;
  background-color: #fafafa;
}

body .login_container {
  width: 935px;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
}

.login_container .login_left_wrap {
  width: 454px;
  height: 618px;
  display: flex;
  margin-top: 30px;
  margin-right: 20px;
}

.login_left_wrap .login_left_in_img {
  position: absolute;
  left: 206px;
  top: 131px;
}

.login_left_in_img #login_img {
  width: 240px;
}

.login_right_container {
  width: 350px;
  height: 606px;
  display: flex;
  position: relative;
  top: 40px;
  left: -35px;
  flex-direction: column;
}

.login_right_container .login_right_wrap {
  width: 350px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 1px;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  padding: 10px 0;
}

.login_right_container .login_right_regi_wrap {
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 1px;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  padding: 10px 0;
  margin-top: 15px;
}

.login_right_regi_wrap p {
  font-size: 14px;
}

.login_right_regi_wrap a {
  color: #0095f6;
  font-weight: bold;
  text-decoration: none;
}

.login_right_wrap #right_logo {
  margin-top: 30px;
  margin-bottom: 25px;
  width: 60px;
}

.login_right_wrap .right_input {
  width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5px 0 5px 0;
}

.right_input input {
  width: 250px;
  height: 20px;
  background: #fafafa;
  flex: 1 0 auto;
  overflow: hidden;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 9px 0 7px 8px;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  cursor: text;
}

.right_input input:focus {
  outline: none;
}

.right_input label {
  color: #8e8e8e;
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 12px;
  transition: all 0.1s ease;
  cursor: text;
}

.right_input input:valid + label {
  top: 0;
  font-size: 10px;
  left: 8px;
  margin-top: 5px;
}

.right_input input:valid {
  padding: 12px 0 4px 8px;
}

.login_right_wrap #login_btn {
  width: 260px;
  height: 30px;
  background-color: #0095f6;
  position: relative;
  color: #fff;
  border: 0;
  left: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

#login_btn:focus {
  outline: none;
  border: 0;
}

@media (max-width: 875px) {
  .login_container .login_left_wrap {
    display: none;
  }
}
