html {
  font-size: 16px;
}
/*스토리*/
section.wrap main .left_col .stories_box {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  display: flex;
  position: relative;
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: white;
  overflow: hidden;
}
.stories_box #story-slide {
  position: absolute;
  top: 0;
  left: 1.8rem;
  transition: left 0.5s ease-out;
}
#story-slide .story-wrapper {
  float: left;
  width: 4.3rem;
  height: 5.6rem;
  margin-top: 0.6rem;
  overflow: hidden;
}
#story-slide .story-wrapper:not(:last-child) {
  margin-right: 1.2rem;
}
.story-wrapper .story-on {
  width: 3.9rem;
  height: 3.9rem;
  margin: 0 auto;
  border: 3px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#f6f6f6, #f6f6f6),
    linear-gradient(#21246b, #f2b0ac);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.story-wrapper .story-off {
  width: 3.9rem;
  height: 3.9rem;
  margin: 0 auto;
  border: 3px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#f6f6f6, #f6f6f6),
    linear-gradient(#c4c4c4, #c4c4c4);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.story-wrapper > div > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.story-wrapper > p {
  margin: 0;
  text-align: center;
  font-size: 0.7rem;
}
.stories_box #control #prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 96%;
  cursor: pointer;
  width: 1rem;
  margin-left: 0.3rem;
}
.stories_box #control #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  left: 96%;
  width: 1rem;
  margin-right: 0.3rem;
}

.add-story-modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.add-story-modal .modal-content {
  background-color: white;
  position: relative;
  text-align: center;
  border-radius: 5px;
  width: 300px;
  height: 160px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.modal-content > p {
  font-size: 1rem;
  margin-top: 40px;
}

.modal-content > input {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 70%;
  height: 30px;
  margin: 15px;
}
.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  margin-top: 12px;
}

.modal-button > button {
  width: 50%;
  height: 100%;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.modal-button > button:last-child {
  background-color:#5b3e81;
  color: white;
}