* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
}
*:focus {
  outline: none;
}

body {
  position: relative;
  width: 100%;
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  background-color: #fefefe;
}

/***** header *****/ /* 645px + 355px*/
header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  z-index: 2;
}
header div.header {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header div.header a {
  width: auto;
  height: 100%;
}
header div.header a img.logo {
  width: auto;
  height: 80%;
  margin-top: 10%;
}

/***** nav icon *****/
header div.header .nav_items {
  width: 485px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
header div.header .nav_items .add_post {
  width: 140px;
  height: 36px;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: #fefefe;
  background: linear-gradient(#21246b, #5b3e81);
  border-radius: 5px;
  display: block;
}
header div.header .nav_items .icon_list {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header div.header .nav_items .icon_list li {
  width: 60px;
  text-align: center;
}
header div.header .nav_items .icon_list li .text {
  display: none;
}

/* main-container */
#main-container {
  border: 1px solid lightgrey;
  width: 950px;
  margin: 0 auto;
  padding-top: 3%;
  display: flex;
  justify-content: row;
}

/* left */
#left-container {
  width: 250px;
  border-right: 1px solid lightgrey;
}
#left-container #profile-edit-box {
  border-left: 3px solid black;
  margin-left: 1px;
  margin-right: 3px;
  margin-top: 15px;
  padding-top: 5%;
  width: 240px;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#left-container #profile-edit-box p {
  font-size: 16px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 0px;
}

/* right */
#right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* profile-image */
#right-container #profile-image-box {
  margin-top: 20px;
  display: flex;
  justify-content: row;
}
#profile-image-box #left-profile-image {
  width: 180px;
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  padding-right: 30px;
}
#profile-image-box #left-profile-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid lightgrey;
}

#profile-image-box #right-profile-image button {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: white;
  color: rgba(var(--d69, 0, 149, 246), 1);
  margin-left: -10px;
  margin-top: 35px;
}

#profile-image-box #right-profile-image #profile_image {
  display: none;
}

/* name */
#right-container #name-box {
  display: flex;
  margin-top: 25px;
}
#name-box #left-name-box {
  width: 240px;
  display: flex;
}
#name-box #left-name-box .left-p {
  font-size: 16px;
  font-weight: bold;
  margin-left: 120px;
}

.left-p {
  font-size: 16px;
  font-weight: bold;
  padding-top: 14px;
}

#name-box #right-name-box #name-input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  height: 32px;
  padding: 0 10px;
  margin-top: 10px;
  width: 70%;
}

#name-box #right-name-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  left: -30px;
}

.desc-box {
  width: 70%;
  margin-top: 16px;
  margin-bottom: 8px;
}
.desc-box .desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: -2px 0 -3px;
  color: gray;
}
#right-name-box #div1 {
  margin-top: 10px;
}

/* nickname */
#right-container #user-nickname-box {
  margin-top: 5px;
  display: flex;
  justify-content: row;
}
#user-nickname-box #left-user-nickname-box {
  width: 180px;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

#user-nickname-box #right-user-nickname-box #nickname-input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  height: 32px;
  padding: 0 10px;
  margin-top: 10px;
  width: 80%;
}

/* phone_number */
#right-container #phone-number-box {
  display: flex;
  justify-content: row;
}
#phone-number-box #left-phone-number-box {
  width: 180px;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
#phone-number-box #right-phone-number-box #phone-number-input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  height: 32px;
  padding: 0 10px;
  margin-top: 10px;
  width: 160%;
}

/* status_message */
#right-container #status-message-box {
  display: flex;
  justify-content: row;
}
#status-message-box #left-status-message-box {
  width: 180px;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
#status-message-box #right-status-message-box #status-message-input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  height: 32px;
  padding: 0 10px;
  margin-top: 10px;
  width: 160%;
}

/* submit_button */
#right-container #submit-btn-box {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: row;
}
#submit-btn-box #div2 {
  width: 180px;
}
#submit-btn-box #submit-btn {
  width: 60px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: rgba(var(--d69, 0, 149, 246), 1);
  color: white;
  margin: 0 30px;
}

#submit-btn-box #submit-btn::placeholder {
  color: #fff;
}
