<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index_style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/index_script.js"></script>
    <!-- cookie -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- 피드.css -->
    <link rel="stylesheet" href="../static/css/feed.css">
    <link rel="stylesheet" href="/static/css/story-container.css">
    <!-- 파비콘 달기 -->
    <link rel="shortcut icon" href="../static/img/icon/favicon.png" type="image/x-icon">
    <title>15ya</title>
</head>
<body>
<!-- header -->
<header>
    <div class="header">
        <a href="/"><img class="logo" src="/static/img/icon/logo.PNG" alt="logo"></a>
        <!-- search box -->
        <div class="search_wrap">
            <!-- 검색창에 icon 넣기 -->
            <input type="text" id="search_input" class="search_input" value="" placeholder="검색">
            <div>
                <span></span>
                <span></span>
            </div>
            <div>
                <span></span>
            </div>
            <div class="search_box">
                <div class="search_list">
                    <div id="search_result_list" class="search_result_list">
                    </div>
                    <div class="recent_searches_box">
                        <h4>최신 검색 항목</h4>
                        <div class="recent_searches_list">
                            <p>최신 검색 항목 없음.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- search box -->
        <!-- nav icon -->
        <div class="nav_items">
            <a id="feed_upload" class="add_post">+ Add post</a>
            <ul class="icon_list">
                <li><a href="#">
                    <span class="icon"><img src="/static/img/icon/home.svg" alt="home"></ion-icon></span>
                    <span class="text">Feed</span>
                </a></li>
                <li><a href="#">
                    <span class="icon"><img src="/static/img/icon/send.svg" alt="send"> </span>
                    <span class="text">Direct</span>
                </a></li>
                <li><a href="#">
                    <span class="icon"><img src="/static/img/icon/bell.svg" alt="bell"></span>
                    <span class="text">notification</span>
                </a></li>
                <li><a href="#">
                    <span class="icon"><img src="/static/img/icon/bookmark.svg" alt="bookmark"></span>
                    <span class="text">Favorites</span>
                </a></li>
                <li><a href="#">
                    <span class="icon"><img src="/static/img/icon/settings.svg" alt="setting"></span>
                    <span class="text">Setting</span>
                </a></li>
            </ul>
        </div>
        <!-- nav icon -->
    </div>
</header>
<!-- header -->
<!-- content -->
<section class="wrap">
    <main>
        <!-- left column -->
        <section class="left_col">
            <div class="stories_box">
                <div id="control">
                    <img id="prev" src="/static/img/icon/arrow-left.png"/>
                    <img id="next" src="/static/img/icon/arrow-right.png"/>
                </div>
                <div id="story-slide">
                    {% for user in on_list %}
                        {% set profile = user.profile_image %}
                        {% set nick = user.nickname %}
                        <div class="story-wrapper" onclick='window.location.href = "/story/{{ nick }}"'>
                            <div class="story-on">
                                <img src="{{ profile }}"/>
                            </div>
                            <p>{{ nick }}</p>
                        </div>
                    {% endfor %}
                    {% for off in off_list %}
                        {% set profile = off.profile_image %}
                        {% set nick = off.nickname %}
                        <div class="story-wrapper" onclick='window.location.href = "/story/{{ nick }}"'>
                            <div class="story-off">
                                <img src="{{ profile }}"/>
                            </div>
                            <p>{{ nick }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- post -->
            <div class="main_posts">
                {% for feed in feeds %}
                    <div class="post_box">
                        <img class="post_img" id="feed_img_{{feed.index}}" src="{{ feed.image }}" alt="#" onclick="feed_show({{feed.index}})">
                        <div class="post_info">
                            <div class="post_profile">
                                <div class="profilet_img">
                                    <img id="feed_profile_{{feed.index}}" src="{{ feed.profile_image }}" alt="user_name_proflie">
                                </div>
                                <p id="feed_author_{{feed.index}}">{{ feed.author }}</p>
                            </div>
                            <div class="post_icon">
                                {% if feed.index in user.like_feed %}
                                    <img onclick='window.location.href = "/api/feed_like/{{ feed.index }}"'
                                         src="/static/img/icon/heart_full.svg" alt="">
                                {% else %}
                                    <img onclick='window.location.href = "/api/feed_like/{{ feed.index }}"'
                                         src="/static/img/icon/heart.svg" alt="">
                                {% endif %}
                                <span>{{ feed.like }}</span>
                                <img src="/static/img/icon/message-circle.svg" alt="">
                                <span>{{ feed.comment | length }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- post -->
        </section>
        <!-- content -->
        <!-- left column -->
        <!-- right column -->
        <section class="right_col">
            <div class="myproflie_box">
                <div class="profile">
                    <div class="post_profile">
                        <div class="profilet_img">
                            <img src="{{ user.profile_image }}" alt="user_name_proflie">
                        </div>
                        
                        <p>{{ user.name }}</p>
                        <p>@{{ user.nickname }}</p>
                    </div>
                </div>
                <div class="button_list">
                    <button onclick='window.location.href = "/mypage/{{ user.email }}"'>내 페이지 보기</button>
                        <button onclick='window.location.href = "/users/setting/"'>프로필 편집</button>
                    <button onclick="logout()" class="logout">로그아웃</button>
                </div>
                <div class="abuot">
                    <div class="box">
                        <span>{{ user.posting }}</span>
                        <p>게시물</p>

                    </div>
                    <div class="box">
                        <span>{{ user.follower_list | length }}</span>
                        <p>팔로윙</p>
                    </div>
                    <div class="box">
                        <span>{{ user.follow_list | length }}</span>
                        <p>팔로우</p>
                    </div>
                </div>
                <div class="introduce">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus placeat nisi quas? Quo,
                        consequatur! Laudantium cumque quaerat, fugit natus molestiae esse non amet autem quo suscipit
                        sequi laborum iusto corrupti!</p>
                </div>
            </div>
        </section>
        <!-- right column -->
    </main>
</section>
<!-- 컨텐츠 -->
<!-- 피드 업로드 모달 -->
<div class="modal_container" id="modal-container">
    <div class="modal_close">
        <img src="/static/img/icon/close.png" alt="" id="modal_close">
    </div>
    <div class="modal_background">
        <div class="modal_back"></div>
        <div class="modal_wrap">
            <div class="modal_wrap_header">
                <p>　</p>
                <p>새 게시물 만들기</p>
                <span id="modal_next"> 다음　</span>
                <span id="modal_upload"> 올리기 </span>
            </div>
            <div class="modal_wrap_content_wrap">
                <img id="modal_content_image" src="../static/img/icon/imagegallery.png" alt="">
                <h2>사진을 여기에 끌어다 놓으세요</h2>
            </div>
            <div class="modal_wrap_write_wrap">
                <div class="modal_wrap_write_content_left">
                </div>
                <div class="modal_wrap_write_content_right">
                    <div class="write_header">
                        <img src="{{ user.profile_image }}" alt="">
                        <p> {{ user.nickname }} </p>
                    </div>
                    <textarea name="" id="write_content" cols="30" rows="10" placeholder="문구 입력..."></textarea>
                </div>
            </div>
            <div class="modal_wrap_show_wrap" >
                
            </div>
        </div>
    </div>
</div>


<!-- 피드업로드 -->
<script src="/static/js/feed.js"></script>
<script src="/static/js/comment.js"></script>
<script src="/static/js/logout.js"></script>
<script src="/static/js/story-container.js"></script>
</body>
</html>