<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="../static/mypage.css">
    <title>Instagram</title>
    <script>



    </script>

</head>
<body>
    <div id="desktop-header">
        <div id="desktop-header-wrapper">
            <div id="logo-wrapper">
                <img src="../static/icons/logo.PNG" />
            </div>
            <div id="search-wrapper">
                <img src="../static/icons/search.png">
                <p>검색</p>
            </div>
            <div id="header-icon-wrapper">
                <img class="header-icon" src="../static/icons/home.PNG" />
                <img class="header-icon" src="../static/icons/messenger.PNG" />
                <img class="header-icon" src="../static/icons/add.PNG" />
                <img class="header-icon" src="../static/icons/like.PNG" />
                <img class="header-icon" src="../static/icons/explore.PNG" />
            </div>
        </div>
    </div>
    <div id="mypage-profile">
        <div id="myinfo-container">
            <div id="left-wrapper">
                <img src={{ user.profile_image }}>
            </div>
            <div id="right-wrapper">
                <div id="box1">
                    <p id="id">{{ user.nickname }}</p>
                    <button id="follow-button">팔로우</button>
                </div>
                <div id="box2">
                    <p>게시물 <strong>{{ user.posting }}</strong></p>
                    <p class="count">팔로워 <strong>{{ user.follower }}</strong></p>
                    <p class="count">팔로우 <strong>{{ user.follow }}</strong></p>
                </div>
                <div id="box3">
                    <p id="myname"><strong>{{ user.name }}</strong></p>
                    <p id="status-message">{{ user.status_message }}</p>
                </div>
            </div>
        </div>
        <div id="mystory-container">
            <div class="story-wrapper">
                    <img src="https://t1.daumcdn.net/cfile/blog/9925184C5A43CD2E1D"/>
                <p>X-MAS</p>
            </div>
            <div class="story-wrapper">
                    <img src="https://file.namu.moe/file/80cfc7a257d0939474d79c10ce5603c035648a093e62c4703dc8b65dee7c1e6833f553209a69490ca0d6e6c358067a73"/>
                <p>FOOD</p>
            </div>
            <div class="story-wrapper">
                    <img src="http://www.epeopletoday.com/news/photo/202001/14626_19263_3859.jpg"/>
                <p>FRIEND</p>
            </div>
        </div>
    </div>
    <div id="mypage-post">
        <div id="post-category">
            <p onclick="mypage_feed()"class="category">게시물</p>
            <p onclick="bookmark()" class="category">저장됨</p>

        </div>
        <div id="post-boxes">
            {% for image in feed %}
            <div class="post-box" id="posting_box">
                <img src={{ image.image }}>
            </div>
            {% endfor %}
            <div class="bookmark-box" id="bookmark_box">
            </div>


        </div>
    </div>
<script src="../static/bookmark.js"></script>
</body>
</html>