<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--css-->
    <link rel="stylesheet" href="/static/css/story-page.css">

    <title>Instagram * stories </title>
</head>
<body>
    <div id="main">
        <div id="header">
            <img src="/static/icons/white-logo.png"/>
            <img src="/static/icons/close.png" onclick='window.location.href = "/"'/>
        </div>
        <div id="story-view">
            <div id="control">
                <img src="/static/icons/arrow-left.png" id="prev" alt="{{ nickname[0] }}">
                <img src="/static/icons/arrow-right.png" id="next" alt="{{ nickname[1] }}">
            </div>
            <div class="story">
                <div class="story-header">
                    <div class="left-wrapper">
                        <img id="user-profile" src="{{ img[0].img_url }}"/>
                        <p id="user-nick">{{ img[0].id }}</p>
                    </div>
                    <div class="right-wrapper">
                        <img src="/static/icons/option.PNG"/>
                    </div>
                </div>
                <div class="story-body">
                    <div class="img-slide">
                        <img class="_img" src="{{ img[0].story_img_1 }}"/>
                        <img class="_img" src="{{ img[0].story_img_2 }}"/>
                        <img class="_img" src="{{ img[0].story_img_3 }}"/>
                    </div>
                </div>
                <div class="story-footer">
                    <input class="senddm" placeholder="send message">
                    <img src="/static/icons/messenger.PNG"/>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="/static/js/story-page.js"></script>
</html>