<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--css-->
    <link rel="stylesheet" href="/static/css/story-container.css">
    <title>Instagram</title>

</head>
<body>
<div id="main">
    <div id="desktop-header">
        <div id="desktop-header-wrapper">
            <div id="logo-wrapper">
                <img src="/static/img/icon/logo.PNG"/>
            </div>
            <div id="search-wrapper">
                <img src="/static/icons/search.png">
                <p>검색</p>
            </div>
            <div id="header-icon-wrapper">
                <img class="header-icon" src="/static/icons/home2.png"/>
                <img class="header-icon" src="/static/icons/send.PNG"/>
                <img class="header-icon" src="/static/icons/add.PNG"/>
                <img class="header-icon" src="/static/icons/like.PNG"/>
                <img class="header-icon" src="/static/icons/option.PNG"/>
            </div>
        </div>
    </div>
    <div id="story-container">
        <div id="story-slide">
            {% for user in on_list %}
            {% set profile = user.img_url %}
            {% set id = user.id %}
            <div class="story-wrapper" onclick='window.location.href = "/story/{{id}}"'>
                <div class="story-on">
                    <img src="{{profile}}}"/>
                </div>
                <p>{{id}}</p>
            </div>
            {% endfor %}
            {% for off in off_list %}
            {% set profile = off.img_url %}
            {% set id = off.id %}
            <div class="story-wrapper" onclick='window.location.href = "/story/{{id}}"'>
                <div class="story-off">
                    <img src="{{profile}}}"/>
                </div>
                <p>{{id}}</p>
            </div>
            {% endfor %}
        </div>
        <div id="control">
            <img id="prev" src="/static/icons/arrow-left.png"/>
            <img id="next" src="/static/icons/arrow-right.png"/>
        </div>
    </div>
</div>
</body>
    <!--JS-->
    <script src="/static/js/story-container.js" async></script>
</html>