<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--css-->
    <link rel="stylesheet" href="/static/css/story-container.css">
    <title>Instagram</title>

</head>
<body>
<div id="main">
    <div id="desktop-header">
        <div id="desktop-header-wrapper">
            <div id="logo-wrapper">
                <img src="/static/icons/logo.PNG"/>
            </div>
            <div id="search-wrapper">
                <img src="/static/icons/search.png">
                <p>검색</p>
            </div>
            <div id="header-icon-wrapper">
                <img class="header-icon" src="/static/icons/home2.png"/>
                <img class="header-icon" src="/static/icons/send.PNG"/>
                <img class="header-icon" src="/static/icons/add.PNG"/>
                <img class="header-icon" src="/static/icons/like.PNG"/>
                <img class="header-icon" src="/static/icons/option.PNG"/>
            </div>
        </div>
    </div>
    <div id="story-container">
        <div id="story-slide">
            {% for user in users %}
            {% set profile_image = user.profile_image %}
            {% set nickname = user.nickname %}
                <div class="story-wrapper" onclick='window.location.href = "/story/{{id}}"'>
                    <div class="story-on">
                        <img src="{{ profile_image }}"/>
                    </div>
                    <p>{{ nickname }}</p>
                </div>
            {% endfor %}
        </div>
        <div id="control">
            <img id="prev" src="/static/img/icon/arrow-left.png"/>
            <img id="next" src="/static/img/icon/icons/arrow-right.png"/>
        </div>
    </div>
</div>
</body>
    <!--JS-->
    <script src="/static/js/story-container.js" async></script>
</html>